body{
    margin: 0;
    background: url(../img/img3.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 120px;

}
#cont h1 {
    color:#f0e9e9;
    font-size: 50px;
    text-transform: uppercase;  

}
#cont{
    width: 80%;
    padding: 100px 120px;
    background: #000000b6;
    margin: 0 auto;
    
}
#cont p{
    color: #f0e9e9;
    font-size: 22px;
    
}
#botones button{
    padding: 8px 20px;
    background: transparent;
    border: 2px solid #f0ecec;
    color: #efeef1;
    font-size: 30px;
    margin: 10px 20px;

}
